.child{
    background-color: rgb(17, 40, 3);
    margin:1px;
    height: 20px;
    border:5px solid rgb(243, 243, 8);
    color: rgb(174, 227, 226);
    text-align: center;
    border-radius: 100%;
    
}
.container{
    /* grid-template-columns: 10px 20px 30px 40px; */
    /* grid-template-columns: repeat(4,40px); */
    /* grid-template-columns: 1fr 2fr 3fr 4fr; */
    display: grid;
    height: 200px;
    grid-template-columns: repeat(5,1fr) ;
    row-gap: 15px;
    column-gap: 15px;
    
}
.child1{
    background-color: red;
    border:5px solid rgb(243, 243, 8); 
    grid-row-start: 2;
    grid-column-start: 2;
}